<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Конвертер ramus</title>
    <style>
        body
        {
            font-family: Times, "Times New Roman", Georgia, serif;
            font-size: 14pt;
        }

        .over_div p {
            word-wrap: break-word;
        }

        .file_input {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            font-size: 14px;
            vertical-align: middle;
            color: rgb(255 255 255);
            text-align: center;
            border-radius: 4px;
            background-color: #419152;
            line-height: 22px;
            height: 40px;
            padding: 10px 20px;
            box-sizing: border-box;
            border: none;
            margin: 0;
            transition: background-color 0.2s;
        }

        .submit_button {
            appearance: none;
            border: 0;
            border-radius: 5px;
            background: #4676D7;
            color: #fff;
            padding: 8px 16px;
            font-size: 16px;
        }

        table {
            font-size: 12pt;
        	width: 100%;
        	margin-bottom: 20px;
        	border: 1px solid #dddddd;
        	border-collapse: collapse;
        }
        table th {
        	font-weight: bold;
        	padding: 5px;
        	background: #efefef;
        	border: 1px solid #dddddd;
        }
        table td {
        	border: 1px solid #dddddd;
        	padding: 5px;
        }

        ul {
            list-style-type: disc;
        }
    </style>
</head>
<body>
<div>Для конвертации необходимо:
<ol>
    <li>Экспортировать диаграмму в IDL формат: Диаграмма -> Экспортировать в IDL</li>
    <li>Поменять кодировку получившегося файла на UTF-8
    <ul>
        <li>В Блокноте: Файл -> Сохранить как -> Кодировка - UTF-8</li>
        <li>В Notepad++: Кодировка -> Преобразовать в UTG-8</li>
    </ul>
    </li>
    <li>Добавить в поле ввода файлов</li>
</ol>
</div>
<form method="post" enctype="multipart/form-data">
    <p>Выберите файл формата .idl</p>
    <input class="file_input" type="file" name="file">
    <button class="submit_button" type="submit" formaction="/convert_list/">Конвертировать файл как список</button>
    <button class="submit_button" type="submit" formaction="/convert_table/">Конвертировать файл как таблицы</button>
</form>
<div class="over_div" id="marked_div">
{{.}}
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script language="JavaScript">
    const div = document.getElementById("marked_div")

    window.addEventListener('load', () => {
        div.innerHTML = marked.parse(div.innerHTML)
    })
</script>
</body>
</html>