<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Конвертер ramus</title>
    <style>
        body
        {
            font-family: Times, "Times New Roman", Georgia, serif;
            font-size: 14pt;
        }

        .over_div p {
            word-wrap: break-word;
        }

        .file_input {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            text-decoration: none;
            font-size: 14px;
            vertical-align: middle;
            color: rgb(255 255 255);
            text-align: center;
            border-radius: 4px;
            background-color: #419152;
            line-height: 22px;
            height: 40px;
            padding: 10px 20px;
            box-sizing: border-box;
            border: none;
            margin: 0;
            transition: background-color 0.2s;
        }

        .submit_button {
            appearance: none;
            border: 0;
            border-radius: 5px;
            background: #4676D7;
            color: #fff;
            padding: 8px 16px;
            font-size: 16px;
        }

        table {
            font-size: 12pt;
        	width: 100%;
        	margin-bottom: 20px;
        	border: 1px solid #dddddd;
        	border-collapse: collapse;
        }
        table th {
        	font-weight: bold;
        	padding: 5px;
        	background: #efefef;
        	border: 1px solid #dddddd;
        }
        table td {
        	border: 1px solid #dddddd;
        	padding: 5px;
        }

        ul {
            list-style-type: disc;
        }

        .custom-radio {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        /* для элемента label связанного с .custom-radio */
        .custom-radio+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        /* создание в label псевдоэлемента  before со следующими стилями */
        .custom-radio+label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        /* стили при наведении курсора на радио */
        .custom-radio:not(:disabled):not(:checked)+label:hover::before {
            border-color: #b3d7ff;
        }
        /* стили для активной радиокнопки (при нажатии на неё) */
        .custom-radio:not(:disabled):active+label::before {
            background-color: #b3d7ff;
            border-color: #b3d7ff;
        }
        /* стили для радиокнопки, находящейся в фокусе */
        .custom-radio:focus+label::before {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
        .custom-radio:focus:not(:checked)+label::before {
            border-color: #80bdff;
        }
        /* стили для радиокнопки, находящейся в состоянии checked */
        .custom-radio:checked+label::before {
            border-color: #0b76ef;
            background-color: #0b76ef;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        }
        /* стили для радиокнопки, находящейся в состоянии disabled */
        .custom-radio:disabled+label::before {
            background-color: #e9ecef;
        }
    </style>
</head>
<body>
<div>Для конвертации необходимо:
<ol>
    <li>Экспортировать диаграмму в IDL формат: Диаграмма -> Экспортировать в IDL</li>
    <li>Поменять кодировку получившегося файла на UTF-8
    <ul>
        <li>В Блокноте: Файл -> Сохранить как -> Кодировка - UTF-8</li>
        <li>В Notepad++: Кодировка -> Преобразовать в UTG-8</li>
    </ul>
    </li>
    <li>Добавить в поле ввода файлов</li>
</ol>
</div>
<form method="post" enctype="multipart/form-data">
    <p>Выберите файл формата .idl</p>
    <input class="file_input" type="file" name="file">
    <button class="submit_button" type="submit" formaction="/convert_list/">Конвертировать файл как список</button>
    <button class="submit_button" type="submit" formaction="/convert_table/">Конвертировать файл как таблицы</button>

    <div>
        <input class="custom-radio" name="practice" type="radio" id="practice_number_4" value="4">
        <label for="practice_number_4">Практическая работа 4</label>
    </div>

    <div>
        <input class="custom-radio" name="practice" type="radio" id="practice_number_6" value="6">
        <label for="practice_number_6">Практическая работа 6</label>
    </div>
</form>
<div class="over_div" id="marked_div">
{{.}}
</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script language="JavaScript">
    const div = document.getElementById("marked_div")

    window.addEventListener('load', () => {
        div.innerHTML = marked.parse(div.innerHTML)
    })
</script>
</body>
</html>